.button-container {
  padding: 8px 25px;
  color: white;
  font-size: 25px;
  border-radius: 8px;

  &.-primary {
    background-color: red;
  }

  &.-secondary {
    background-color: blue;
  }

  &.-outline {
    background-color: white;
    border: 1px solid #000;
    color: black;
  }
}
